// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tasklist {
  list-style-type: none;
  a, a:visited, a:hover {
    color: #212121;
    background: none;
    text-decoration: none;
  }
  .todo[data-priority='1.0'] {
  .taskcheckbox a, .taskname a{
    color: red;
    }
  }

  @keyframes thumbwobble {
    from {-webkit-transform: rotate(0deg);
    }
    to {-webkit-transform: rotate(30deg);
      font-size: 9em;
    }

  }
  .thumbsup {
    animation-name: thumbwobble;
    animation-duration:0.5s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    font-size: 6em;
    display: inline-block;
    border: 2px solid red;

  }

  .done *, .done a {
    color: grey;
  }

  .toggle_checkbox {
    float: left;
    margin: 10px;
  }
}
