// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  // background: black;
  // color: white;
}

.list-container {
  margin-top: 70px;
}

#tasklist {
  list-style-type: none;
  z-index: 10;
  a, a:visited, a:hover {
    color: #212121;
    background: none;
    text-decoration: none;
  }
  .todo[data-priority='1.0'] {
  .taskcheckbox a, .taskname a{
    color: red;
    }
  }

  @keyframes thumbwobble {
    0% {-webkit-transform: rotate(0deg);
      opacity: 1;
      font-size: 6em;
    }
    50% {-webkit-transform: rotate(30deg);
      font-size: 9em;
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }

  }
  
  .thumbsup {
    animation-name: thumbwobble;
    animation-duration:2s;
    animation-iteration-count: 1;
    font-size: 0em;
    display: inline-block;
    opacity: 0;
    float: left;
    //border: 2px solid red;

  }

  .done *, .done a {
    color: grey;
  }

  .toggle_checkbox {
    float: left;
    margin: 10px;
  }
}

#canvas {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
