// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tasklist {
  list-style-type: none;
  a, a:visited, a:hover {
    color: #212121;
    background: none;
    text-decoration: none;
  }
  .todo[data-priority='1.0'] {
  .taskcheckbox a, .taskname a{
    color: red;
    }
  }

  .done *, .done a {
    color: grey;
  }

  .toggle_checkbox {
    float: left;
    margin: 10px;
  }
}


